/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 448px;
  height: 626px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.flip .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

body {
  background: black;
  font-family: 'Varela', sans-serif;
}

.glitch.flip {
  color: white;
  position: relative;
  /*
  width: 400px;
  margin: 0 auto;
  font-size: 100px;
  */
}

@keyframes noise-anim {
  0% {
    clip: rect(32px, 9999px, 19px, 0);
  }
  5% {
    clip: rect(46px, 9999px, 36px, 0);
  }
  10% {
    clip: rect(11px, 9999px, 22px, 0);
  }
  15% {
    clip: rect(48px, 9999px, 90px, 0);
  }
  20% {
    clip: rect(48px, 9999px, 91px, 0);
  }
  25% {
    clip: rect(1px, 9999px, 87px, 0);
  }
  30% {
    clip: rect(9px, 9999px, 73px, 0);
  }
  35% {
    clip: rect(47px, 9999px, 78px, 0);
  }
  40% {
    clip: rect(2px, 9999px, 32px, 0);
  }
  45% {
    clip: rect(30px, 9999px, 3px, 0);
  }
  50% {
    clip: rect(52px, 9999px, 38px, 0);
  }
  55% {
    clip: rect(14px, 9999px, 77px, 0);
  }
  60% {
    clip: rect(6px, 9999px, 20px, 0);
  }
  65% {
    clip: rect(76px, 9999px, 75px, 0);
  }
  70% {
    clip: rect(7px, 9999px, 76px, 0);
  }
  75% {
    clip: rect(84px, 9999px, 67px, 0);
  }
  80% {
    clip: rect(81px, 9999px, 83px, 0);
  }
  85% {
    clip: rect(57px, 9999px, 91px, 0);
  }
  90% {
    clip: rect(89px, 9999px, 44px, 0);
  }
  95% {
    clip: rect(67px, 9999px, 27px, 0);
  }
  100% {
    clip: rect(93px, 9999px, 21px, 0);
  }
}
.glitch.flip:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
  padding: .75em;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(12px, 9999px, 75px, 0);
  }
  5% {
    clip: rect(79px, 9999px, 33px, 0);
  }
  10% {
    clip: rect(83px, 9999px, 16px, 0);
  }
  15% {
    clip: rect(100px, 9999px, 73px, 0);
  }
  20% {
    clip: rect(55px, 9999px, 76px, 0);
  }
  25% {
    clip: rect(41px, 9999px, 97px, 0);
  }
  30% {
    clip: rect(97px, 9999px, 65px, 0);
  }
  35% {
    clip: rect(54px, 9999px, 54px, 0);
  }
  40% {
    clip: rect(46px, 9999px, 13px, 0);
  }
  45% {
    clip: rect(85px, 9999px, 46px, 0);
  }
  50% {
    clip: rect(8px, 9999px, 6px, 0);
  }
  55% {
    clip: rect(39px, 9999px, 72px, 0);
  }
  60% {
    clip: rect(77px, 9999px, 64px, 0);
  }
  65% {
    clip: rect(71px, 9999px, 39px, 0);
  }
  70% {
    clip: rect(81px, 9999px, 6px, 0);
  }
  75% {
    clip: rect(12px, 9999px, 81px, 0);
  }
  80% {
    clip: rect(2px, 9999px, 65px, 0);
  }
  85% {
    clip: rect(98px, 9999px, 59px, 0);
  }
  90% {
    clip: rect(55px, 9999px, 84px, 0);
  }
  95% {
    clip: rect(47px, 9999px, 95px, 0);
  }
  100% {
    clip: rect(2px, 9999px, 58px, 0);
  }
}
.glitch.flip:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
  padding: .75em;
}

#sayorip{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(0px, 2px) rotate(-1deg); }
  100% { transform: translate(1px, 1px) rotate(0deg); }
}